body{
    background-color: rgb(105, 145, 255);
}
form{
    width: 60%;
}
fieldset{
     display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
}
body{
    width: 100%;
    height: 100dvh;
    display: flex ;
    justify-content: center;
    align-items: center;
}